//自定义的navbar
$o-navbar-entry-color: $o-form-lightsecondary;

$o-navbar-entry-bg--hover: transparent;
$o-navbar-entry-color--hover: $o-form-lightsecondary;

$o-navbar-entry-bg--active: rgba($o-brand-odoo, .95) ;
$o-navbar-entry-color--active: $o-brand-lightsecondary ;

$o-navbar-brand-color: $o-brand-lightsecondary;

$o-navbar-background: linear-gradient(45deg, #{$o-brand-odoo}, #{$o-action});

