//自定义的navbar
$o-navbar-background: rgba($o-brand-odoo, .8);
$o-navbar-entry-color: $o-gray-200 ;

$o-navbar-entry-bg--hover: rgba($o-brand-odoo, 9);
$o-navbar-entry-color--hover: $o-gray-200 ;

$o-navbar-entry-bg--active: rgba($o-brand-odoo, .9) ;
$o-navbar-entry-color--active: $o-gray-100 ;

$o-navbar-brand-color: $o-gray-100 ;

$o-navbar-entry-color: rgba($o-white, .9);
$o-navbar-entry-color--hover: $o-white;

